/* To reset the default margin and padding */

* {
    margin: 0;
    padding: 0;
}

/* the body and header */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3em;
}

h1 {    
   

}

h2 {
  
}

h3 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    margin-left: 40px;
    margin-bottom: 20px;
}

.box-1 {
    font-style: italic;
    font-weight: 500;
}

.left-border {
    border-left: 2px solid black;
}

/* main */

main {   
    margin: 25px; 
    padding: 50px;
    
}

p { 
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.bold-text {
    font-weight: 800;

}

.box-2 {
    margin:20px;
    padding: 10px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;

}

.box-3 {
    padding: 10px;
    margin: 20px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;

}

/* blockquote */

blockquote {
    margin: 20px;
    align-items: center;
    color: gray;
    font-weight: 800;
}

