/* To reset the default margin and padding */

* {
    margin: 0;
    padding: 0;
}

/* the body and header */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}
header {
    width: 70%;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}


main {   
    /* margin: 50px 30px 50px 30px; */
    /* padding: 20px 10px 20px 10px; */
    width: 60%;
    font-family: "Lora", "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold-text {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 30px;
}

.bold {
    font-weight: 700;
}
.more-space {
    margin-bottom: 30px;
}

.spacer {
    margin-left: 400px;
}

.box-1 {
    font-family: "Lora", "Open Sans";
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 1em;
    border-left: 2px solid black;
    margin: 40px 100px 40px 150px;
    padding-left: 30px;
}

.box-2 {
    background-color: lightgrey;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 150px;
    width: 70%;
}

.box-3 {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 80px;
    width: 70%;
}
p {
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote {
    margin: 30px;
    padding: 15px;
    line-height: 1.5em;
    align-items: center;
    color: gray;
    font-weight: 700;
    font-family: "Lora", "Open Sans";
    font-size: 25px;
}

